* {
    font-family: "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

html {
    position: relative;
    min-height: 100vh;
    font-size: 1.2em;
}

body {
    padding-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #ddd; /*背景星星顏色*/
    overflow: hidden;
    font-size: 20px; /*調整字體大小可放大縮小星星*/
    text-shadow: 0px 1px 0 #999;

    .full_star {
        // width: 50%; /*調整寬度可變更星等*/
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
        color: #D56A16; /*前景星星顏色*/
    }
}


